body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    transition: background 0.5s ease-in-out;
  }

  #text-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    font-size: large;
    font-style: initial;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    text-overflow: initial;
  }

  
  #image-container {
    width: 350px;
    height: 450px; 
    animation: teste 3.5s infinite ease-in-out;

  }

  
  #change-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 55px;
    border-radius: 30px;
    animation: teste 2.5s infinite ease-in-out;

  }

  @keyframes teste {
    50% {
transform: translateY(-10%);
    }
  }

  .background1 {
    background-image: url('img/principal.jpg');
  
  }

 